#zoneOneDiv {
    color: white;
}

#zoneOneHeader {
    text-align: center;
    font-size: 30px;
}

#zoneOneExplore {
    text-align: center;
    text-decoration: underline;
}

#zoneOneExplore:hover {
    color: black;
}

#zoneOneDescription {
    text-align: center;
    font-size: 12px;
}

#eventOutput {
    border: 1px solid gold;
    height: 225px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}