#mainPanel {
    border-bottom: 3px solid gold;
    height: 100px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

#statsPanel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    color: white;
}

.panelLinks {
    color: white;
}

.panelLinks:hover {
    color: black;
}