#mainDiv {
    border-bottom: 3px solid gold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: white;
}

.mainLinks {
    color: white;
}

.mainLinks:hover {
    color: black;
}